{{!-- <ul>
    {{#each results}}
        <li>{{ Clan }} : {{ User }} : {{ Game }}</li>
    {{/each}}
</ul> --}}
<link rel="stylesheet" href="/css/allclan.css">
<table>
    <thead>
        <th>Clan</th>
        <th>User</th>
        <th>Rank</th>
    </thead>
    <tbody>
        {{#results}}
        <tr>
            <td>{{ clanName }}</td>
            <td>{{ userName }}</td>
            <td>{{ clanRank }}</td>
        </tr>
        {{/results}}
    </tbody>
</table>
