{{!-- <ul>
    {{#each results}}
        <li>{{ Clan }} : {{ User }} : {{ Game }}</li>
    {{/each}}
</ul> --}}
<link rel="stylesheet" href="/css/allclan.css">
<table>
    <thead> 
        <th>Clan</th> 
        <th>User</th> 
        <th>Game</th> 
        <th>Role</th>
    </thead> 
    <tbody> 
        {{#results}}
        <tr> 
            <td>{{ Clan }}</td> 
            <td>{{ User }}</td> 
            <td>{{ Game }}</td>
            <td>{{ Role }}</td>
        </tr> 
        {{/results}} 
    </tbody> 
</table>

